body {
	background-color: rgb(24, 24, 24);
	color: white;
	padding: 0;
	margin: 0;
}
/* header */
.container {
	padding: 10px;
	max-width: 100%;
	font-size: 50px;
	background-color: rgb(253, 102, 2);
}
.spin {
	animation: spin 2s linear infinite;
}
@keyframes spin {
	0% { transform: rotate(0deg); }
	100% { transform: rotate(360deg); }
}
h1 {
	margin-left: 7%;
	margin-right: 10%;
}
.logo {
	min-width: 30px;
	max-height: 100px;
}
.social {
	max-height: 30px;
	margin-bottom: 20px;
}
/* main */
.list-group {
	font-size: 40px;
	font-weight: 700;
	border-radius: 25px;
}
.list-group-item {
	color: white;
	border-color: rgba(254, 93, 0, 0.5);
	background-color: rgba(254, 93, 0, 0.5);
	height: 100px;
	border-radius: 25px;
	margin: 10px;
}
.right, .teamlogo {
	width: 65px;
	float: right;
	padding: 10px;
}
/* footer */
#foot {
	display: flex;
	background-color: black;
}
#footinfo {
	width: 65%;
}
#footinfo p {
	font-size: 35%;
}
#footlogo {
	width: 35%;
	max-width: 150px;
	margin-left: auto;
}