body {
   background-color: rgb(24, 24, 24);
   color: white;
   padding: 0;
   margin: 0;
}
#cap {
   font-size: 50px;
   display: flex;
   align-items: center;
   height: 100%;
   background-color: rgb(253, 102, 2);
}
h1 {
   margin-left: 155px;
   margin-right: 330px;
   font-size: 50px;
}
#logo1 {
   height: 120px;
   padding: 10px;
   padding-left: 150px;
}
#logo2 {
   height: 120px;
   padding: 10px;
}
.social {
   padding-left: 20px;
}
h2 {
   text-align: center;
   font-size: 40px;
   margin-left: 600px;
   margin-right: 600px;
   padding: 10px;
   background-color: rgb(253, 102, 2);
   border-radius: 30px;
}
.container {
   display: flex;
   margin-left: 50px;
   margin-right: 50px;
}
table {
   font-size: 20px;
   font-weight: bold;
   background-color: white;
   color: black;
   border-collapse: collapse;
   border-radius: 0px 0px 25px 25px;
   margin: 10px;
   width: 350px;
   height: 350px;
}
.num {
   padding-left: 10px;
}
table, tr {
   border: 1px solid black;
}
th {
   background-color: black;
   color: white;
}
caption {
   font-size: 30px;
   background-color: rgb(253, 102, 2);
   color: white;
   text-align: center;
   font-weight: bold;
   border-radius: 25px 25px 0px 0px;
   height: 60px;
   padding-top: 7%;
}
#backgr1 {
   position: relative;
   top: 20px;
   left: 60px;
   height: 70px;
   width: 270px;
   background-color: black;
   border-radius: 20px 20px 0px 0px;
}
#nameteams {
   padding-top: 30px;
   text-align: center;
   font-size: 30px;
}
#listofteams {
   font-weight: bold;
   list-style-type: none;
   margin-left: 60px;
   margin-right: 20px;
   color: white;
   font-size: 20px;
   padding: 10px;
   background-color: rgb(253, 102, 2);
   width: 250px;
   border-radius: 0px 0px 20px 20px;
}
.teamlogo {
   padding-right: 10px;
}
.right {
   float: right;
   clear: left;
}
dl {
   color: white;
   font-size: 30px;
   text-align: center;
}
#backgr2 {
   position: relative;
   bottom: 1442px;
   left: 364px;
   height: 70px;
   width: 440px;
   background-color: black;
   border-radius: 20px 20px 0px 0px;
}
#namebb {
   font-size: 30px;
   text-align: center;
}
#listofb {
   padding-left: 30px;
   padding-top: 10px;
   margin-right: 20px;
   margin: 10px;
   margin-top: 20px;
   font-size: 20px;
   width: 410px;
   height: 430px;
   color: black;
   background-color: white;
   border-radius: 0px 0px 20px 20px;
}
#listofbForm, ul, #rules {
   display: inline-block;
   vertical-align: top;
}
#Form {
   margin-top: 120px;
   margin-left: 10px;
   margin-right: 20px;
   width: 420px;
   color: black;
   background-color: white;
   font-size: 30px;
   text-align: center;
   padding: 10px;
   border-radius: 0px 0px 20px 20px;
}
#backgr4 {
   position: relative;
   bottom: 883px;
   right: 679px;
   height: 70px;
   width: 440px;
   background-color: black;
   border-radius: 20px 20px 0px 0px;
}
#nameForm {
   font-size: 30px;
   text-align: center;
}
#vk, #youtube {
   display: inline-block;
   vertical-align: top;
   margin: 10px;
   margin-top: 50px;
}
#rules {
   color: white;
   background-color: rgb(253, 102, 2);
   width: 555px;
   font-size: 20px;
   border-radius: 0px 0px 20px 20px;
   margin: 20px;
   padding: 20px;
}
#backgr3 {
   position: relative;
   bottom: 1442px;
   left: 404px;
   height: 70px;
   width: 595px;
   background-color: black;
   border-radius: 20px 20px 0px 0px;
}
#namerules {
   font-size: 30px;
   text-align: center;
}
#backgr2, #backgr3, #backgr4 {
   display: inline-block;
}
footer {
   position: static;
}
#foot {
   color: rgb(163, 166, 168);
   display: flex;
   background-color: black;
   padding-top: 10px;
   padding-left: 100px;
   padding-bottom: 10px;
}
.SocialInFoot {
   width: 30px;
   padding-right: 15px;
}
#RightSideFoot {
   padding-right: 850px;
   padding-top: 20px;
}