body {
   background-color: rgb(24, 24, 24);
   color: white;
   padding: 0;
   margin: 0;
}
/* header */
.container {
	padding: 10px;
	max-width: 100%;
	font-size: 50px;
	background-color: rgb(253, 102, 2);
}
h1 {
	margin-left: 7%;
	margin-right: 10%;
}
.logo {
	min-width: 30px;
	max-height: 100px;
}
.social {
	max-height: 30px;
	margin-bottom: 20px;
}
/* main */
.row {
	margin: 0;
}
.card, .carousel {
	margin-bottom: 20px;
}
.nav-link {
	color: white;
}
.nav-link:hover {
	color: rgb(253, 102, 2);
}
/* Modal Box */
.modal {
  display: none;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}
.modal-content {
  margin: auto;
	width: 350px;
	height: 470px;
}
#myModal img {
	margin-left: auto;
	margin-right: auto;
	height: 400px;
	width: 300px;
}
.close {
  color: black;
  margin-left: auto;
	margin-right: 5px;
  font-size: 28px;
  font-weight: bold;
}
/* Card */
.image-text {
  position: absolute;
	font-size: 20px;
  top: 50%;
  left: 30%;
  transform: translate(-20%, -50%);
  opacity: 0;
  transition: opacity 0.3s;
}
#my-image {
	width: 100%;
	border-radius: 25px;
}
.card {
	width: 75%;
	min-width: 300px;
	border-radius: 25px;
}
.card {
	margin-left: auto;
	margin-right: auto;
}
/* group table */
.carousel {
	width: 75%;
	min-width: 300px;
	margin-left: auto;
	margin-right: auto;
}
.carousel-control-prev, .carousel-control-next {
	bottom: auto;
	top: 18px;
}
caption {
	padding: 15px;
	caption-side: top;
	text-align: center;
	color: white;
	background-color: rgb(253, 102, 2);
	border-radius: 25px 25px 0px 0px;
}
table {
   font-size: 20px;
   font-weight: bold;
   background-color: white;
   color: black;
   border-radius: 0px 0px 25px 25px;
   width: 100%;
	 height: 470px;
}
.num {
   padding-left: 5px;
}
table, tr {
   border: 1px solid rgb(24, 24, 24);
}
th {
   background-color: black;
   color: white;
}
/* Scroll to top button */
#scrollTopBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: white;
  color: black;
  border-radius: 5px;
  padding: 10px 15px;
}
/* footer */
#foot {
	display: flex;
	background-color: black;
}
#footinfo {
	width: 65%;
}
#footinfo p {
	font-size: 35%;
}
#footlogo {
	width: 35%;
	max-width: 150px;
	margin-left: auto;
}