body {
   background-color: rgb(24, 24, 24);
   color: white;
   padding: 0;
   margin: 0;
}
h1 {
	margin-left: 7%;
	margin-right: 10%;
}
.logo {
	min-width: 20px;
	max-height: 100px;
}
.social {
	max-height: 30px;
	margin-bottom: 20px;
}
.container {
	padding: 10px;
	max-width: 100%;
	font-size: 4em;
	background-color: rgb(253, 102, 2);
}
.row {
	margin: 5px;
}
.nav-item {
	padding: 5px;
}
a {
	color: white;
	text-decoration: none;
}
#Creator, #GroupTables, #Clubs {
	display: inline-block;
	margin-left: 7%;
	margin-bottom: 30px;
}
#Form {
	margin-top: 30px;
}
.carousel {
	width: 410px;
}
.carousel-control-prev, .carousel-control-next {
	bottom: auto;
	top: 18px;
}
caption {
	caption-side: top;
	text-align: center;
	color: white;
	background-color: rgb(253, 102, 2);
	border-radius: 25px 25px 0px 0px;
}
table {
   font-size: 20px;
   font-weight: bold;
   background-color: white;
   color: black;
   border-radius: 0px 0px 25px 25px;
   width: 400px;
   height: 400px;
}
.num {
   padding-left: 10px;
}
table, tr {
   border: 1px solid rgb(24, 24, 24);
}
th {
   background-color: black;
   color: white;
}
#foot {
	display: flex;
	background-color: black;
}


#marginLeft {
	margin-left: 2%;
}
button {
	background-color: rgb(253, 102, 2);
	color: white;
	font-weight: 500;
}
#task-list {
	list-style: none;
}
li.complete {
	text-decoration: line-through;
}
.task-checkbox {
	margin-right: 10px;
	cursor: pointer;
}


#timer {
	transition: color 0.5s;
}
.red {
	color: red;
}
.sizeOf {
	background-color: rgb(24, 24, 24);
	border: none;
	font-size: large;
}